*{
    padding: 0;
    margin: 0;

}

body{

    color:rgba(29, 34, 2, 0.986);
    background-color: coral;
    align-items: center;
    font: normal 18px/1.5;
    font-weight: 90;
    padding: 50px 0;

}

/*h2,h3{line-height: 2.2;}*/

#search {
    height: 960px;
    text-align: center;
    height: 20px;
    max-width: 600px;
}

.flex-outer{
    list-style-type: none;
    padding: 2;
    max-width: 800px;
    margin: 0 auto;
  }
  
#mapid { 
    height: 700px; 
}
.list-header{
    font-weight: 700;
    font-size: 2.25rem;
}

.list-item{
    border-radius: 6px;
    color:darkblue;
    background: rgb(47, 226, 56);
    padding: 5px;

}